.block-eleven{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 100px 0;
}

.block-eleven-img1{
    width: 40%;
}

.block-eleven-img2{
    width: 50%;
}


.block-eleven-background{
    background-color: var(--purple2);
    position: absolute;
    height: 100%;
    width: 60%;
    z-index: -1;
}


