header{
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}

header ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
}


header ul li{
    cursor: pointer;
}

.try-live{
    color: var(--blue);
}

.try-live:hover{
    color: var(--purple1);
}