.block-two-decorated{
    cursor: pointer;
    color: var(--blue);
}




.block-two{
    width: 825px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .block-two{
        width: 600px;
    }
    
}

@media (max-width: 600px) {
    .block-two {
        width: 100%;
        max-width: 100%;
        padding: 0 8px;
        box-sizing: border-box;
    }
}


.block-two h3{ 
    font-size: 20px;
}

.block-two p{ 
    font-size: 16px;
}